<%= link_to '<< Inbox', inbox_conversations_path %>
<h3><%= @conversation.subject %></h3>
<h4>Conversation between <%= @conversation.c_sender.name %> and <%= @conversation.c_recipient.name %></h4>
<div id="show_conv">
	<%= render @conversation.msgs %>
</div>

	<%= form_tag reply_conversation_path, :method => 'post', :remote => true do %>
		<%= label_tag :reply %><br />
		<div id="reply_form">
		<%= text_area_tag :content, nil, :cols => 50, :rows => 4 %>
		</div>
		<%= submit_tag "Reply" %>
	<% end %>
