<h3>Edit your profile</h3>

<%= form_tag user_path(current_user), :method => 'put', :html => { :multipart => true } do %>
	<%= render 'shared/error_messages', :object => current_user %>
	<div class="field">
		<%= label_tag :name %><br />
		<%= text_field_tag :name %>
	</div>
	<div class="field">
		<%= label_tag :email %><br />
		<%= text_field_tag :email %>
	</div>
	<div class="field">
		<%= label_tag :old_password %><br />
		<%= password_field_tag :old_password %>
	</div>
	<br />
	<div class="field">
		<%= label_tag :new_password %><br />
		<%= password_field_tag :password %>
	</div>
	<br />
	<div class="field">
		<%= label_tag :confirm_password %><br />
		<%= password_field_tag :password_confirmation %>
	</div>
	<br />
	<div class="field">
		<%= label_tag :photo, "Profile picture" %>
		<%= file_field_tag :photo %>
	</div>
	<br />
	<div class="actions">
		<%= submit_tag "Update" %>
	</div>
<% end %>