<h3>Edit your profile</h3>

<%= form_for @user, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<br />
	<div class="field">
		<%= f.label :photo, "Profile picture" %>
		<%= f.file_field :photo %>
	</div>
	<br />
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>