<%= image_tag post.poster.photo.url(:thumb) %>
<%= post.poster.name %>
<%= post.content %>
Posted at: <%= post.created_at %><br />
<%= render post.comments %>
<div id= <%=post.id.to_s %> >
	<%= render 'show_comment_form', :post_id => post.id %>
</div>
